path {
    stroke: #fff;
    stroke-width: .5;
    stroke-dasharray: 1;
    fill: #afafaf;
  }

  .bubble {
    fill: red; /*  PS Orange */
    fill-opacity: .3;
    stroke: #fff;
    stroke-width: .5px;
  }

#neighborhood {
position: absolute;
max-width: 400px;
height: auto;
padding: 5px;
background-color: white;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
pointer-events: none;
font-family: sans-serif;
font-size:12px;
}

.tooltip {
  position: absolute;
  max-width: 400px;
  height: auto;
  padding: 5px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font-family: sans-serif;
  font-size:12px;
}

.y-axis path,
.y-axis line {
    fill: none;
    stroke: #666;
    color: #666;
    shape-rendering: crispEdges;
}

.x-axis path, .x-axis line{
  display:none;
  color: #666;
}

.x-axis, .y-axis text {
    font-family: sans-serif;
    font-size: 10px;
    color: #666;
    fill: #666;

}
.bar {
  fill: #666;
}


.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
.legend circle {
  fill: none;
  stroke: #F15B2A;
}

.land {
  fill: #e5e5e5;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.title {
  margin-left: 350px;
  color: purple;
  font-size: x-large;
}

.select{
  border-color: cadetblue;
  border-width: 3px
}